<!DOCTYPE html>
<html>
    <head>
        <style>
            .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 15px 25px;
                    text-align: center;
                    font-size: 16px;
                    cursor: pointer;
            }
            .button:hover {
                            background-color: green;
            }
        </style>
    </head>
<body>
<div style="background-color: blanchedalmond; height: 100%;">

<h1>My Favorite Movies Of all Time</h1>
</div>
<div style="">
<button class="button" onclick="location.href='../getmovies/'" >GO</button>
</div>


</body>
</html>
